*{
    margin:0;
    padding:0;
}
#main-title
{
    font-size:32px;
    color:darkblue;
    text-align:center;
}
#subtitle
{
    font-size:24px;
    color:darkgreen;
}
p{
    padding:5px;
    border:1px solid rosybrown;
}